<a href="https://colab.research.google.com/github/ary3120-droid/myproject/blob/main/a_btest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
#Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd

df = pd.read_csv('/content/cookie_cats.csv')
df.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  bool
 4   retention_7     90189 non-null  bool
dtypes: bool(2), int64(2), object(1)
memory usage: 2.2+ MB

In [42]:
#Í≤∞Ï∏°Ïπò ÌôïÏù∏
df.isnull().sum()

userid            0
version           0
sum_gamerounds    0
retention_1       0
retention_7       0
dtype: int64

In [43]:
# Ïà´ÏûêÌòï(int, float) Ïª¨ÎüºÎßå ÏÑ†ÌÉùÌï¥ÏÑú Ïª¨ÎüºÎ™Ö Î™©Î°ùÏúºÎ°ú Ï†ÄÏû•
num_cols = df.select_dtypes(include='number').columns
num_cols

Index(['userid', 'sum_gamerounds'], dtype='object')

In [44]:
#Ïù¥ÏÉÅÏπò ÌôïÏù∏
df[num_cols].describe()

             userid  sum_gamerounds
count  9.018900e+04    90189.000000
mean   4.998412e+06       51.872457
std    2.883286e+06      195.050858
min    1.160000e+02        0.000000
25%    2.512230e+06        5.000000
50%    4.995815e+06       16.000000
75%    7.496452e+06       51.000000
max    9.999861e+06    49854.000000

In [45]:
# sum_gameroundsÏùò ÏÉÅÏúÑ 1%(99%) Í∞í Í≥ÑÏÇ∞
cap = df['sum_gamerounds'].quantile(0.99)

# ÏÉÅÏúÑ 1%Î•º cap Í∞íÏúºÎ°ú Ï†úÌïúÌïòÏó¨ Ïù¥ÏÉÅÏπò ÏòÅÌñ• ÏôÑÌôî
df['sum_gamerounds_capped'] = df['sum_gamerounds'].clip(upper=cap)

# cap Ï≤òÎ¶¨Îêú Îç∞Ïù¥ÌÑ∞ ÎπÑÏú®(ÏÉÅÏúÑ 1% Ïù¥ÏÉÅÏπò ÎπÑÏ§ë) ÌôïÏù∏
(df['sum_gamerounds'] >= cap).mean()

np.float64(0.010045570967634634)

In [46]:
# ÏõêÎ≥∏ sum_gameroundsÏùò ÏµúÎåÄÍ∞í ÌôïÏù∏
df['sum_gamerounds'].max()

# cap Ï†ÅÏö© ÌõÑ sum_gamerounds_cappedÏùò ÏµúÎåÄÍ∞í ÌôïÏù∏
df['sum_gamerounds_capped'].max()

493

In [47]:
# ÏõêÎ≥∏ sum_gameroundsÏùò Í∏∞Ï¥à ÌÜµÍ≥ÑÎüâ ÌôïÏù∏
df['sum_gamerounds'].describe()

# cap Ï†ÅÏö© ÌõÑ sum_gamerounds_cappedÏùò Í∏∞Ï¥à ÌÜµÍ≥ÑÎüâ ÌôïÏù∏
df['sum_gamerounds_capped'].describe()

count    90189.000000
mean        48.993647
std         84.205426
min          0.000000
25%          5.000000
50%         16.000000
75%         51.000000
max        493.000000
Name: sum_gamerounds_capped, dtype: float64

Ï§ëÏïôÍ∞í/ÏÇ¨Î∂ÑÏúÑ Ïú†ÏßÄ

25%: 5

50%: 16

75%: 51

üëâ cap Ï†ÑÍ≥º ÎèôÏùº

ÌèâÍ∑† Î≥ÄÌôî

ÏõêÎ≥∏ ÌèâÍ∑† ‚âà 51.9

cap ÌõÑ ÌèâÍ∑† ‚âà 49.0

üëâ Í∑πÎã®Í∞í ÏòÅÌñ•Îßå Ï†úÍ±∞Îêú Í±¥Í∞ïÌïú ÌïòÎùΩ

In [49]:
# userid Í∏∞Ï§Ä Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞ Ï°¥Ïû¨ Ïó¨Î∂Ä ÌôïÏù∏
# A/B ÌÖåÏä§Ìä∏Îäî Ïú†Ï†Ä Îã®ÏúÑ Î∂ÑÏÑùÏù¥ÎØÄÎ°ú, ÎèôÏùº Ïú†Ï†ÄÏùò Ï§ëÎ≥µ Í¥ÄÏ∏°ÏπòÍ∞Ä ÏûàÎäîÏßÄ Ï†êÍ≤Ä
df['userid'].duplicated().sum()

# Í≤∞Í≥ºÍ∞Ä 0Ïù¥ÎØÄÎ°ú userid Ï§ëÎ≥µ ÏóÜÏùå
# ‚Üí Î™®Îì† ÌñâÏù¥ ÏÑúÎ°ú Îã§Î•∏ Ïú†Ï†ÄÎ•º ÏùòÎØ∏ÌïòÎ©∞, Ï∂îÍ∞ÄÏ†ÅÏù∏ Ï§ëÎ≥µ Ï†úÍ±∞ Î∂àÌïÑÏöî
# ‚Üí Í¥ÄÏ∏°Ïπò Í∞Ñ ÎèÖÎ¶ΩÏÑ± Í∞ÄÏ†ï Ï∂©Ï°±

np.int64(0)

In [50]:
# Control / Treatment Í∑∏Î£πÎ≥Ñ ÌëúÎ≥∏ Ïàò ÌôïÏù∏
# Îëê Í∑∏Î£π Í∞Ñ ÏÉòÌîå Ïàò Î∂àÍ∑†Ìòï Ïó¨Î∂Ä Ï†êÍ≤Ä
df['version'].value_counts()

version
gate_40    45489
gate_30    44700
Name: count, dtype: int64

Îëê Í∑∏Î£πÏùò ÌëúÎ≥∏ ÏàòÍ∞Ä Í±∞Ïùò ÎèôÏùº

ÌëúÎ≥∏ Î∂àÍ∑†ÌòïÏúºÎ°ú Ïù∏Ìïú Ìé∏Ìñ• Ïö∞Î†§ ÎÇÆÏùå
‚Üí A/B ÌÖåÏä§Ìä∏ ÏÑ§Í≥Ñ Ï†ÅÏ†à

In [51]:
# Í∑∏Î£πÎ≥Ñ Î¶¨ÌÖêÏÖò ÌèâÍ∑† ÌôïÏù∏ (ÌÉêÏÉâÏ†Å Î∂ÑÏÑù)
# Í∞ÄÏÑ§ Í≤ÄÏ†ï Ï†Ñ, TreatmentÍ∞Ä Control ÎåÄÎπÑ ÏÑ±Í≥º Ï∞®Ïù¥Í∞Ä ÏûàÎäîÏßÄ ÏßÅÍ¥ÄÏ†ÅÏúºÎ°ú ÌååÏïÖ
df.groupby('version')[['retention_1', 'retention_7']].mean()

         retention_1  retention_7
version
gate_30     0.448188     0.190201
gate_40     0.442283     0.182000

Í¥ÄÏ∞∞ Í≤∞Í≥º (ÌÉêÏÉâÏ†Å ÎπÑÍµê)

1Ïùº Î¶¨ÌÖêÏÖò

gate_30 > gate_40 (ÏïΩ +0.6%p)

7Ïùº Î¶¨ÌÖêÏÖò

gate_30 > gate_40 (ÏïΩ +0.8%p)

üëâ Ï¶â,

gateÏùÑ 30Î†àÎ≤®Ïóê Î∞∞ÏπòÌïú Í∑∏Î£πÏù¥ Îã®Í∏∞¬∑Ï§ëÍ∏∞ Î¶¨ÌÖêÏÖò Î™®Îëê Îçî ÎÜíÏùå